<!doctype html>
<html>
	<head>
		<title>angular project 1</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	</head>
    <!--Declaring angular application-->
	<body ng-app="appName">
		<h1>Learning scope variables</h1>
        <h1>Learning scope variables</h1>
        <h1>from app Conrl</h1>
        <div ng-controller="personCtrl">
            <div ng-controller="appCtrl">
                    <br>tests from app Ctrl {{tests}}<br>
                Two way data binding {{header}}<br>

                One way data binding {{::header}}<br>
                <button ng-click="test()">change header</button><br>
            </div>
            <br> tests from person Ctrl {{tests}}
        
        </div>
        
        <br>
        <h1>Alias example</h1>
        <!-- Alias control name -->
        <div ng-controller="sam as appCtrl">
                    <br>tests from app Ctrl {{sam.tests}}<br>
                Two way data binding {{sam.header}}<br>

                One way data binding {{::sam.header}}<br>
                <button ng-click="sam.test()">change header</button><br>
            </div>
        
        
       
        <div ng-controller="personCtrl">
       
        <!-- FOR PERSON FORM-->
        <h1> FROM Person Ctrl</h1>
        <div class="container">
            
         <div class="row">
            <div class="col-md-2">
              <input type="text" ng-model="personModel.firstName"
                     placeholder="Enter First Name">
                </div>
             <div class="col-md-2">
              <input type="text" ng-model="personModel.lastName"
                     placeholder="Enter Last Name">
                </div>
             <div class="col-md-2">
              <input type="text" ng-model="personModel.address"
                     placeholder="Enter Address">
                </div>
             <div class="col-md-2">
              <input type="text" ng-model="personModel.phone"
                     placeholder="Enter Phone">
                </div>
            </div>
            
            
            <div class="row">
            <div class="col-md-2">
             <label> First Name</label> 
                </div>
                <div class="col-md-2">
             <label> Last Name</label> 
                </div>
                <div class="col-md-2">
             <label> Address</label> 
                </div>
                <div class="col-md-2">
             <label> Phone Number</label> 
                </div>
                
            </div>
        
            <div class ="row">
            <div class="col-md-2">
                {{personModel.firstName}}
                </div>
                <div class="col-md-2">
                {{personModel.lastName}}
                </div>
                <div class="col-md-2">
                {{personModel.address}}
                </div>
                <div class="col-md-2">
                {{personModel.phonessss}}
                </div>
            </div>
            
            
            
            
            </div>
            
            
            
            
            <div ng-show="forNgShow">
            This content is for testing ng show
            </div>
            
            
            <div ng-if="forNgIf">
             This content is for testing ng if
            </div>
            
            <button ng-click="toggleForShow()" class="btn btn-warning">NG_SHOW (using speration concept) </button><br>
            
             <button ng-click="forNgShow=!forNgShow" class="btn btn-warning">NG_SHOWs</button> <sbr>
            
            
             <button ng-click="toggleForIf()" class="btn btn-danger">NG-IF</button>
        </div>
    
<!--        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers/appCtrl.js"></script>
         <script type="text/javascript" src="/js/controllers/personCtrl.js"></script>
	</body>
</html>